.logotext {
  font-family: 'Product Sans';
  font-weight: bold;
  font-size: 40px;
  color: white;
  line-height: normal;
  width: 100%;
  margin-left: 50px;
}

.smallmodal {
  position: absolute;
  bottom: 0;
  margin-bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 13%;
  height: 6%;
  background-color: rgb(70, 70, 70);
  border-radius: 15px;
  border: 2px solid rgb(56, 56, 56);
}

.icongrid {
  display: grid;
  margin: auto;
  margin-top: 5px;
  grid-template-columns: auto auto auto auto;
}

.text {
  font-family: 'Product Sans';
  font-weight: bold;
  font-size: 40px;
  color: white;
  line-height: normal;
  width: 100%;
  text-align: center;
}

.lbutton {
  font-family: 'Product Sans';
  font-weight: bold;
  font-size: 100px;
  border-radius: 15px;
  color: white;
  line-height: normal;
  text-align: center;
  width: 2in;
  border: 3px dashed rgb(56, 56, 56);
  background-color:rgb(70, 70, 70);
  height: 3in;
  transition: all .2s linear;
}

.lbutton:hover>svg {
  font-size: 1.2em;
  transform: translateX(-5px)
}

.button>svg {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  transition: all .4s ease-in
}

.lbutton:hover {
  box-shadow: 10px 10px 33px #80808046, -9px -9px 33px #80808046;
  transform: translateY(-2px)
}

.body {
  margin-top: 10px;
}

.subtext {
  font-family: 'Product Sans';
  font-weight: bold;
  font-size: 20px;
  color: rgb(102, 102, 102);
  line-height: normal;
  text-align: center;
  width: 100%;
}

.header {
  top:0;
  width: 100%;
  height: 53px;
  border-bottom: 1px solid #2b2b2b;
}

.buttongrid {
  position:absolute;
  top: 50%;
  left: 50%;
  display: grid;
  grid-gap: 5px;
  transform: translate(-50%, -50%);
}

.fullscreentxt {
  font-family: 'Product Sans';
  font-weight: bold;
  font-size: 2in;
  color: white;
  width: 100%;
  border-style: none;
  line-height: normal;
  height: 100%;
  overflow: visible;
  text-align: center;
  background-color: black;
}

.fullscreentxt:focus {
  outline: none;
}

.colon {
  font-family: 'Product Sans';
  font-weight: bold;
  font-size: 2in;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: white;
  cursor: default;
  background-color: transparent;
  line-height: normal;
  text-align: center;
}

.timergrid {
  height: 50%;
  width: auto;
  position: absolute;
  top: 50%;
  border-radius: 15px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 3in 1in 3in 1in 3in;
}